---
Checks: >
  bugprone-*, cert-*, clang-diagnostic-*, clang-analyzer-*, concurrency-*,
  cppcoreguidelines-*, google-*, hicpp-*, misc-*, modernize-*, performance-*,
  portability-*, readability-*
WarningsAsErrors: "*"
